.top-line {
  width: 100%;
  height: 2px;
  background-color: #ed593f; }

.crumbs ul {
  width: 100%;
  font-size: 16px; }
  .crumbs ul li {
    height: 60px;
    line-height: 55px;
    float: left; }
    .crumbs ul li span {
      margin: 0 10px; }
    .crumbs ul li .active {
      color: #ed593f; }

.container {
  padding-bottom: 50px; }
  .container .m-title {
    padding-bottom: 16px;
    border-bottom: 1px solid #c9c9c9; }
    .container .m-title h2 {
      float: left;
      font-size: 28px;
      color: #f27f46;
      padding-left: 12px;
      border-left: 5px solid #f27f46; }
      .container .m-title h2 span {
        font-size: 16px;
        font-weight: normal;
        padding-left: 15px; }
    .container .m-title p {
      padding-top: 10px;
      float: right;
      font-size: 16px; }
      .container .m-title p span {
        color: #f27f46; }
  .container .introduction {
    color: #333;
    width: 100%;
    padding: 30px 0; }
    .container .introduction .pic-box {
      float: left;
      width: 200px;
      padding-top: 40px;
      padding-bottom: 40px;
      margin-left: 45px;
      border-radius: 3%;
      box-shadow: 1px 1px 8px #737373;
      background-color: #fff; }
      .container .introduction .pic-box img {
        display: block;
        margin: 0 auto;
        width: 120px;
        height: 120px;
        line-height: 120px;
        text-align: center; }
    .container .introduction .content-box {
      float: left;
      width: 800px;
      margin-left: 45px; }
      .container .introduction .content-box h2 {
        font-size: 32px; }
      .container .introduction .content-box p {
        line-height: 30px;
        font-size: 16px; }
      .container .introduction .content-box .tit {
        margin-top: 20px; }
      .container .introduction .content-box ul {
        width: 700px;
        margin-top: 10px; }
        .container .introduction .content-box ul li {
          padding: 5px;
          float: left;
          font-size: 14px;
          margin-right: 100px; }
    .container .introduction .btn-box {
      width: 100%;
      margin-top: 30px; }
      .container .introduction .btn-box div {
        float: left;
        width: 210px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 2px solid #f38047;
        font-size: 18px;
        transition: all .3s;
        background-color: #fff;
        color: #f38047;
        font-weight: bold;
        letter-spacing: 1px; }
      .container .introduction .btn-box div:hover {
        background-color: #f38047;
        color: #fff; }
      .container .introduction .btn-box .btn-active {
        background-color: #f38047;
        color: #fff; }
      .container .introduction .btn-box .left-btn {
        margin-right: 80px; }
  .container .design-proposal {
    margin-top: 40px; }
    .container .design-proposal .proposal-box {
      width: 1200px;
      margin-top: 30px;
      height: 450px;
      background: url(../images/company-detail/loading1.gif) 584px 200px no-repeat; }
      .container .design-proposal .proposal-box li {
        width: 385px;
        float: left;
        border: 1px solid #ccc;
        margin-right: 15px;
        padding-bottom: 30px;
        transition: all .3s;
        background-color: #fff; }
        .container .design-proposal .proposal-box li .m-top {
          position: relative;
          width: 385px;
          height: 320px;
          overflow: hidden; }
          .container .design-proposal .proposal-box li .m-top img {
            display: block;
            width: 385px;
            height: 320px;
            background-color: #f2f2f2;
            line-height: 320px;
            text-align: center; }
          .container .design-proposal .proposal-box li .m-top .cover {
            text-align: center;
            line-height: 30px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 30px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff; }
        .container .design-proposal .proposal-box li .m-bottom {
          width: 100%;
          margin-top: 25px; }
          .container .design-proposal .proposal-box li .m-bottom .pic {
            float: left;
            margin-left: 25px; }
            .container .design-proposal .proposal-box li .m-bottom .pic img {
              display: block;
              width: 72px;
              height: 72px;
              border-radius: 50%;
              background-color: #f2f2f2;
              line-height: 72px;
              text-align: center; }
          .container .design-proposal .proposal-box li .m-bottom .text {
            float: left;
            font-size: 16px;
            margin-left: 20px; }
            .container .design-proposal .proposal-box li .m-bottom .text p {
              margin-top: 12px; }
      .container .design-proposal .proposal-box li:nth-child(3) {
        margin-right: 0; }
      .container .design-proposal .proposal-box li:hover {
        transform: translate(0, -10px);
        box-shadow: 5px 5px 30px -2px #666; }
  .container .designer {
    margin-top: 60px; }
    .container .designer .designer-box {
      width: 100%;
      padding-bottom: 80px;
      background: url(../images/company-detail/loading1.gif) 584px 30px no-repeat; }
      .container .designer .designer-box li {
        padding: 15px 0;
        width: 1150px;
        height: 150px;
        margin: 0 auto;
        margin-top: 40px;
        border: 3px dashed #ccc;
        transition: all .4s; }
        .container .designer .designer-box li .m-left {
          float: left; }
          .container .designer .designer-box li .m-left .pic {
            float: left;
            margin-left: 25px; }
            .container .designer .designer-box li .m-left .pic img {
              display: block;
              width: 150px;
              height: 150px;
              border-radius: 50%;
              background-color: #f2f2f2;
              line-height: 150px;
              text-align: center; }
          .container .designer .designer-box li .m-left .text {
            float: left;
            font-size: 16px;
            margin-left: 30px; }
            .container .designer .designer-box li .m-left .text p {
              font-size: 16px;
              margin-top: 15px; }
            .container .designer .designer-box li .m-left .text .btn {
              margin-top: 15px;
              border: 2px solid #f38047;
              background-color: #f38047;
              padding: 0 16px;
              width: 150px;
              height: 36px;
              line-height: 36px;
              font-size: 16px;
              text-align: center;
              color: #fff;
              font-weight: bold;
              transition: all .3s; }
        .container .designer .designer-box li:hover .m-left .btn {
          background-color: #fff;
          color: #f38047; }
        .container .designer .designer-box li .m-right {
          float: right;
          margin-right: 30px;
          width: 150px;
          height: 150px; }
          .container .designer .designer-box li .m-right img {
            display: block;
            width: 150px;
            height: 150px;
            background-color: #f2f2f2;
            line-height: 150px;
            text-align: center; }
      .container .designer .designer-box li:hover {
        transform: translate(-5px, -2px);
        border: 3px solid #b6b6b6; }
  .container .work-site li {
    width: 1150px;
    margin: 0 auto;
    margin-top: 40px;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6; }
    .container .work-site li:hover .m-middle h2 {
      color: #f27f46; }
    .container .work-site li div {
      float: left;
      height: 190px;
      margin-right: 30px; }
    .container .work-site li .m-left {
      width: 200px;
      height: 180px; }
      .container .work-site li .m-left img {
        display: block;
        width: 200px;
        height: 180px;
        background-color: #f2f2f2;
        line-height: 180px;
        text-align: center; }
    .container .work-site li .m-middle h2 {
      margin-top: 15px;
      font-size: 26px;
      transition: all .3s; }
    .container .work-site li .m-middle p {
      margin-top: 35px;
      font-size: 16px; }
      .container .work-site li .m-middle p span {
        margin-right: 30px; }
      .container .work-site li .m-middle p .color-active {
        color: #f27f46; }
    .container .work-site li .m-right {
      float: right;
      margin-right: 0; }
      .container .work-site li .m-right div {
        margin-top: 55px;
        border: 2px solid #f38047;
        background-color: #f38047;
        padding: 0 45px;
        height: 45px;
        line-height: 45px;
        font-size: 16px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        transition: all .3s; }
      .container .work-site li .m-right div:hover {
        background-color: #fff;
        color: #f38047; }
  .container .measuring-house {
    margin-top: 60px;
    padding-bottom: 30px; }
    .container .measuring-house .field {
      padding-top: 40px;
      padding-bottom: 20px;
      width: 1010px;
      margin: 0 auto;
      font-size: 20px;
      font-weight: bold; }
      .container .measuring-house .field li {
        width: 200px;
        float: left;
        text-align: center; }
    .container .measuring-house .list li {
      border-bottom: 1px solid #dddddd;
      width: 1010px;
      margin: 0 auto; }
      .container .measuring-house .list li p {
        margin-top: 20px;
        padding-bottom: 5px;
        width: 200px;
        float: left;
        text-align: center;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
  .container .favourable {
    margin-top: 60px;
    padding-bottom: 30px; }
    .container .favourable .coupon {
      width: 100%;
      margin-top: 50px; }
      .container .favourable .coupon li {
        float: left;
        width: 380px;
        height: 360px;
        background: url(../images/company-detail/coupon.png) no-repeat;
        margin-right: 25px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        transition: all .8s; }
        .container .favourable .coupon li h2 {
          padding-top: 37px;
          font-size: 28px; }
        .container .favourable .coupon li p {
          margin: 16px auto; }
        .container .favourable .coupon li .cont {
          margin: 0 auto;
          width: 320px;
          height: 55px;
          background-color: #fff;
          color: #555;
          padding-top: 30px;
          padding-bottom: 30px;
          border: 1px dashed #888;
          overflow: auto; }
          .container .favourable .coupon li .cont p {
            margin: 0 auto;
            width: 260px;
            text-align: left; }
        .container .favourable .coupon li .btn {
          width: 170px;
          height: 40px;
          background-color: #fff;
          color: #f27f46;
          line-height: 40px;
          border: 1px dashed #888;
          margin: 0 auto;
          cursor: pointer;
          transition: all .4s; }
          .container .favourable .coupon li .btn img {
            margin-bottom: 5px;
            margin-right: 8px; }
        .container .favourable .coupon li .btn:hover {
          color: #333;
          transform: scale(1.05); }
      .container .favourable .coupon li:nth-child(3) {
        margin-right: 0; }
      .container .favourable .coupon li:hover {
        animation: style2 .5s infinite;
        animation-iteration-count: 1; }

@keyframes style2 {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.01, 0.9, 1); }
  40% {
    transform: scale3d(0.9, 1.01, 1); }
  50% {
    transform: scale3d(1.05, 0.93, 1); }
  65% {
    transform: scale3d(0.97, 1.01, 1); }
  75% {
    transform: scale3d(1.01, 0.97, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

/*# sourceMappingURL=maps/company-detail.css.map */
