body {
    cursor: default;
}

select {
    cursor: pointer;
}


/* 头部样式 */

.header {
    height: 45px;
    border-bottom: 1px solid #f2f2f2;
}

.header .m-left {
    float: left;
    /* width: 320px; */
    height: 45px;
    background-color: #f2f2f2;
    font-size: 16px;
    line-height: 45px;
    cursor: pointer;
    transition: all .5s;
}


/* 导航样式 */

.header .m-left .position {
    position: relative;
    float: left;
    height: 45px;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
}

.header .m-left:hover {
    background-color: #fff;
}


/* 城市选择界面 */

.interface {
    display: none;
    position: absolute;
    width: 360px;
    z-index: 100;
    background-color: #fff;
    left: -25px;
    top: 45px;
    box-shadow: 1px 1px 8px -2px #666;
    font-size: 14px;
    color: rgb(94, 94, 94);
    cursor: default;
    padding-bottom: 20px;
    transition: all .5s;
}

.interface .table-select {
    position: relative;
    margin: 10px;
    width: 330px;
    height: 32px;
    overflow: hidden;
}

.interface .table-select li {
    margin-left: 5px;
    float: left;
    width: 80px;
    height: 30px;
    border: 1px solid #c5c5c5;
    border-bottom: none;
    text-align: center;
    line-height: 30px;
    z-index: 10px;
    cursor: pointer;
}

.interface .table-select .active {
    border: 2px solid #ffca7a;
    border-bottom: none;
}

.interface .table-select .active::before {
    position: relative;
    content: "";
    display: block;
    height: 2px;
    width: 200px;
    background-color: #ffca7a;
    left: -200px;
    top: 28px;
}

.interface .table-select .active::after {
    position: relative;
    content: "";
    display: block;
    height: 2px;
    width: 250px;
    background-color: #ffca7a;
    left: 80px;
    top: -4px;
}

.interface .content-area {
    margin: 15px;
    width: 380px;
    height: 150px;
}

.interface .content-area>ul {
    width: 310px;
}

.interface .content-area li {
    margin-left: 3px;
    margin-top: 3px;
    float: left;
    padding: 4px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.interface .content-area li:hover {
    color: #e6a442;
}


/* ============= */

.header .m-left .position>i,
.header .m-left .position>span {
    display: block;
    float: left;
    line-height: 45px;
}

.header .m-left .position>span {
    padding: 0 5px;
}

.header .m-left .position .pos {
    width: 13px;
    height: 21px;
    background: url(../images/nav-icon.png);
    margin-top: 12px;
    margin-right: 5px;
}

.header .m-left .position .direction {
    margin-top: 18px;
    width: 12px;
    height: 12px;
    background: url(../images/direction_down.png);
}

.header .m-left>span {
    margin-left: 20px;
}

.header .m-left .seller {
    color: #eb5a3f;
    padding-right: 20px;
}

.header .m-right {
    float: right;
    width: 860px;
}


/* 头部栏右侧 */

.header .m-right li {
    float: left;
    height: 45px;
    font-size: 16px;
}

.header .m-right li>span {
    display: block;
    float: left;
    line-height: 45px;
    padding: 0 5px;
}

.header .m-right .app,
.header .m-right .wx {
    margin-top: 5px;
    padding: 0 5px;
    height: 33px;
    position: relative;
    cursor: pointer;
}

.header .m-right .app .QRCode,
.header .m-right .wx .QRCode {
    position: absolute;
    width: 180px;
    height: 200px;
    background-color: #fff;
    text-align: center;
}

.header .m-right .app .QRCode {
    display: none;
    top: 32px;
    left: -30px;
    z-index: 20;
}

.header .m-right .wx .QRCode {
    display: none;
    top: 32px;
    left: -24px;
    z-index: 20;
}

.header .m-right .app:hover .QRCode,
.header .m-right .wx:hover .QRCode {
    display: block;
}

.header .m-right .app .QRCode img,
.header .m-right .wx .QRCode img {
    padding: 5px;
}

.header .m-right .app .QRCode p,
.header .m-right .wx .QRCode p {
    margin-top: -5px;
}

.header .m-right .app>span,
.header .m-right .wx>span {
    line-height: 33px;
}

.header .m-right .app {
    background-color: #f2f2f2;
    border-right: 1px #dcdcdc solid;
}

.header .m-right .wx {
    background-color: #f2f2f2;
}

.header .m-right .app .icon1 {
    float: left;
    margin-top: 9px;
    width: 16px;
    height: 16px;
    background: url(../images/telephone.png);
}

.header .m-right .app .icon2 {
    float: left;
    margin-top: 12px;
    width: 12px;
    height: 12px;
    background: url(../images/direction_down.png);
}

.header .m-right .wx .icon1 {
    float: left;
    margin-top: 9px;
    width: 19px;
    height: 19px;
    background: url(../images/weixin.png);
}

.header .m-right .wx .icon2 {
    float: left;
    margin-top: 12px;
    width: 12px;
    height: 12px;
    background: url(../images/direction_down.png);
}

.header .m-right .pic1,
.header .m-right .pic2,
.header .m-right .pic3 {
    margin-right: 30px;
}

.header .m-right .pic1 {
    margin-left: 20px;
}

.header .m-right .pic1 img,
.header .m-right .pic2 img,
.header .m-right .pic3 img {
    float: left;
    display: block;
    margin-top: 5px;
    width: 35px;
    height: 35px;
    line-height: 45px;
}

.header .m-right .pic1 span,
.header .m-right .pic2 span,
.header .m-right .pic3 span {
    float: left;
}


/* 导航部分 */

.nav {
    margin-top: 10px;
}

.nav>div {
    float: left;
}

.nav .logo {
    width: 211px;
}

.nav .nav-wrap {
    width: 1289px;
}

.nav .nav-list {
    margin: 27px 60px;
    width: 1000px;
}

.nav .nav-list li {
    float: left;
    font-size: 22px;
    margin: 0 60px;
    cursor: pointer;
}

.nav .nav-list li a {
    color: inherit;
}

.nav .nav-list li a:hover {
    color: #eb5a3f;
}

.nav .nav-list .active {
    color: #eb5a3f;
    padding-bottom: 5px;
    border-bottom: 2px solid #eb5a3f;
}


/* footer */

.footer {
    width: 100%;
    height: 508px;
    background-color: #2d3236;
    color: #99999b;
    text-align: center;
    cursor: default;
}

.footer a {
    color: #99999b;
}

.footer h3 {
    color: rgb(240, 240, 240);
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 30px;
}

.footer>ul {
    padding-top: 80px;
    height: 300px;
}

.footer>ul>li {
    float: left;
    width: 300px;
    height: 300px;
    margin-left: 40px;
}

.footer>ul>li form input {
    margin-top: 10px;
    width: 253px;
    height: 45px;
    font-size: 16px;
    padding-left: 5px;
}

.footer>ul>li form .distpicker select {
    margin-top: 30px;
    width: 122px;
    font-size: 16px;
    height: 40px;
}

.footer>ul>li form .distpicker select:nth-child(2) {
    margin-left: 10px;
}

.footer>ul>li form .button {
    margin-top: 10px;
    margin-left: 20px;
    width: 258px;
    height: 45px;
    background-color: #d4bb56;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.footer>ul .friendly ul {
    width: 300px;
    height: 300px;
}

.footer>ul .friendly ul li {
    width: 150px;
    float: left;
    font-size: 16px;
    margin-top: 26px;
}

.footer>ul .tel i {
    display: block;
    width: 300px;
    height: 194px;
    background: url(../images/hot-line.png) no-repeat;
}

.footer>ul .QRCode i {
    display: block;
    width: 170px;
    height: 170px;
    background: url(../images/app.png) no-repeat;
    margin: 0 auto;
}

.footer .file {
    font-size: 16px;
    margin-top: 65px;
}

.footer .copyright {
    margin-top: 15px;
    font-size: 16px;
}